.cards{
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 0px 30px #414141;
	padding: 20px;
}

.card{
	padding: 20px;
	display: flex;
	align-items: center;
 	justify-content: space-around;
 	padding-bottom: 20px;
 	margin: auto;
 	flex-basis: 100px;
 	flex-grow: 1;
 	transition: all 0.3s ease-in-out;
}


.cards-team{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}


.équipe{
	display: flex;
	flex-basis:1px;
 	flex-grow: 1;
 	margin:50px;
  	justify-content: space-around;
  	align-items: center;
 	padding: 20px;
 	box-shadow: 0px 0px 30px #414141;
}

.équipe p{
	font-size: 15px;
	color: white;
	padding: 5px;
}

.équipe h2{
	font-size: 18px;
	padding: 15px;
}

.card img {
  width: 350px;
  height: 220px ;
  border-radius: 5px;
}

.card:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 50px #414141;
	border-radius: 5px;
	padding-bottom: 30px;
}
